# Visual Studio specific
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Rr]elease/
[Bb]in/
[Oo]bj/
x64/
x86/

# Rider specific
.idea/

# User-specific files
*.DotSettings.user

# Mac files
.DS_Store

# Miscellaneous
*.bak
*.tmp
*.log 